@page "/clinics"
@using MedicalApp.Shared.Models
@inject MedicalApp.Shared.Data.AppDbContext DbContext
@inject NavigationManager NavManager
@inject HubConnection HubCon;

<PageTitle>Clinics</PageTitle>

<div class="container">
    <div class="d-flex gap-2 align-items-center mb-4">
        <div class="me-auto">
            <h3 class="page-title mb-0">Clinics</h3>
        </div>
        <div>
            <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/clinics/upsert"><Icon Name="IconName.PlusCircle"></Icon> Create New</Button>
        </div>
    </div>

    @* Display Result *@
    <div class="position-relative">
        <Grid @ref="grid" TItem="Clinic"
              Class="table table-hover table-bordered table-striped text-nowrap align-middle"
              DataProvider="DataProvider"
              AllowPaging="true"
              AllowSorting="true"
              Responsive="true"
              Unit="Unit.Px">

            <GridColumns>
                <GridColumn TItem="Clinic" Freeze="true" FreezeLeftPosition="0" HeaderText="Clinic Name" PropertyName="ClinicName" SortString="ClinicName" SortKeySelector="item => item.ClinicName">
                    @context.ClinicName
                </GridColumn>
                <GridColumn TItem="Clinic" HeaderText="Date" PropertyName="CreatedDate" SortString="CreatedDate" SortKeySelector="item => item.CreatedDate">
                    @(context.CreatedDate != null ? context.CreatedDate.Value.ToString("yyyy-MM-dd") : "---")
                </GridColumn>
                <GridColumn TItem="Clinic" HeaderText="Actions" PropertyName="Action" Class="w-0">
                    <div class="d-flex gap-2 align-content-center text-nowrap">
                        <Button Type="ButtonType.Link" Size="ButtonSize.Small" Color="ButtonColor.Success" To="@($"/clinics/{context.Id}")"><Icon Name="IconName.Eye"></Icon> View</Button>
                        <Button Type="ButtonType.Link" Size="ButtonSize.Small" Color="ButtonColor.Primary" To="@($"/clinics/upsert/{context.Id}")"><Icon Name="IconName.Pen"></Icon> Edit</Button>
                        <Button Color="ButtonColor.Danger" Size="ButtonSize.Small" title="Delete" @onclick="@(() => ShowDeleteModal(context))"><Icon Name="IconName.Trash"></Icon></Button>
                    </div>
                </GridColumn>
            </GridColumns>
        </Grid>
    </div>
</div>

@* Modal Delete *@
<DeleteConfirm @ref="DeleteConfirm_ref" Model="DeleteModel" />

@code {
    Grid<Clinic> grid = default!;

    // For Delete Modal
    private DeleteConfirm DeleteConfirm_ref = default!;
    private Clinic? DeleteModel = null;

    protected override void OnInitialized()
    {
        HubCon.On<int, string>("ClinicModified", async (int id, string action) =>
        {
            await grid.RefreshDataAsync(); // refresh table when record item is modified
        });
    }

    private async Task<GridDataProviderResult<Clinic>> DataProvider(GridDataProviderRequest<Clinic> request)
    {
        string sortString = "";
        string sortDirection = "";

        if (request.Sorting is not null && request.Sorting.Any())
        {
            // Note: Multi column sorting is not supported at this moment
            sortString = request.Sorting.FirstOrDefault()!.SortString;
            sortDirection = request.Sorting.FirstOrDefault()!.SortDirection.ToString();
        }

        var query = DbContext.Clinic.AsQueryable();

        // Search
        // if (!string.IsNullOrWhiteSpace(search))
        // {
        //     query = query.Where(s => s.ClinicName.Contains(search));
        // }

        // OrderBy switch
        query = (sortString) switch
        {
            "ClinicName" => (sortDirection == "Descending") ? query.OrderByDescending(s => s.ClinicName) : query.OrderBy(s => s.ClinicName),
            "CreatedDate" => (sortDirection == "Descending") ? query.OrderByDescending(s => s.CreatedDate) : query.OrderBy(s => s.CreatedDate),
            _ => query.OrderByDescending(s => s.Id), // Default
        };

        var result = await PagedList<Clinic>.ToPagedList(query, request.PageNumber, request.PageSize);

        return await Task.FromResult(new GridDataProviderResult<Clinic> { Data = result.Data, TotalCount = result.RecordsTotal });
    }

    private async Task ShowDeleteModal(Clinic model)
    {
        DeleteModel = model;
        await DeleteConfirm_ref.ShowModal();
    }
}